<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.app.base">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <application>
        <!-- ******************** 自动适配配置 begin ******************** -->
        <meta-data
            android:name="design_width"
            android:value="1080" />
        <meta-data
            android:name="design_height"
            android:value="1872" />

        <!-- ******************** 自动适配配置 end ******************** -->

        <!--解决全面屏上下部分留黑或留白问题-->
        <meta-data
            android:name="android.max_aspect"
            android:value="2.2" />

        <activity
            android:name=".module.LargeImageView.ImageViewActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
            android:windowSoftInputMode="stateAlwaysHidden" />


    </application>
</manifest>
